body{
    margin:0;
    padding:0;
    width:100%;
    background-image: URL("../images/sun-pattern.png");
    overflow-x: hidden;
    /* Overflow hidden to adjust page fit on screen */
}


h1{
    background-color: #454545;;
    color:white;
    /* position:absolute; */
    margin-top:42px;
    width:60%;
    margin-left:101px;
    text-align: center;
    

}
.headername{
    margin:0 auto;
    padding:0;
}
.container-headerarea{
   
    padding:0;
    width: 100%;
    background-color: white;
    margin-bottom:1.9%;
    /* height:90px; */


}
nav{
    float:right;
    


}
.nav-link{
    background-color:teal;
    animation-name: locateNav;
    animation-duration: 3s;
}
    
p{
    color:rgb(82, 80, 80);
    font-size: 18px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.container-two{
    background-color:white;
    margin:0 auto;
    padding:0;
    width:960px;
    
}
.aboutMe{
    background-color: #454545;
    color: white; 
    border-bottom: solid 2px black;
    text-align: center
   
}
.containerport{
    margin:0 auto;
    padding:0;
    width:960px; 
    background-color:white;
}
img{
    margin:0 auto;

}
.picright{
    float:right;
    padding-left:10%;

}
.picleft{
    float:left;
    padding-left:20%;
}
.secondrow{
margin-top:10px;
}
.contactform{
    background-color: white;
}
.namebadges{
    background-color:teal;
    color: white;
    margin-top: 1px;
    width:100px;
}
form{
    margin:0 auto;
    width:960px;
    background-color:white;
}
.form-group{
    width:960px;
    background-color: white;
}
footer{
    margin:0 auto;
    padding:0;
    height:65px;
    background-color: #454545;
    width: 100%;
    color: white;
    text-align: center;
    padding:20px;
}
/* Sticky footer */
/* Placed outside of wrapper holding all body */
.wrapper{
    height: calc(100vh - 65px);
}



@keyframes locateNav{
    
    

}